.products {
  padding: 30px 0;
  width: 100%;
}

.products-block-list {
  margin-top: 2em;
}

.name-product-list {
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
  width: 250px;
  height: 60px;
  background-color: #06bcb0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.name-product-list h5 {
  color: #fff;
  font-size: 18px;
}

.products-list {
  background-color: #fff;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.products-item {
  width: 250px;
  height: 40px;
  transition: 0.4s;
  display: flex;
  align-items: center;
}

.products-item:hover {
  background-color: #72efdd;
}

.products-item a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.products-item img {
  width: 50px;
  height: 50px;
}

.product-item-title {
  position: relative;
  margin-left: 50px;
  color: rgb(137, 137, 137);
  font-size: 15px;
}

.product-item-title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(-135deg);
  left: -100px;
  top: 2px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  transition: 0.5s;
}

.products-item:hover .product-item-title::before {
  left: -30px;
}

@media (max-width: 700px) {
  .products-block-list,
  .name-product-list,
  .products-list,
  .products-item {
    width: 100%;
  }

  .products-item {
    justify-content: center;
  }

  .product-item-title {
    margin-left: 0;
  }

}
