<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/style.css" />
    <title>Sv-steklo</title>
  </head>
  <body>
    <header id="header">
      <section class="container">
        <div class="header-menu">
          <a href="home.html"
            ><img id="logoheader" src="tmp/sv-cteklo/assets/img/logoheader.png" alt=""
          /></a>
          <nav id="nav-bar">
            <a href="home.html">ГЛАВНАЯ</a>
            <a href="products.html">ПРОДУКЦИЯ</a>
            <a href="catalog.html">КАТАЛОГ СТЕКЛА</a>
            <a href="stock.html">АКЦИИ</a>
            <a href="services.html">УСЛУГИ</a>
            <a href="about.html">О НАС</a>
            <a href="./contacts.html" class="nav-bar-a__active">КОНТАКТЫ</a>
          </nav>
          <div id="button-burger">
            <span class="button-burger-line"></span>
          </div>
          <nav id="nav-bar-burger">
            <a href="home.html">ГЛАВНАЯ</a>
            <a href="products.html">ПРОДУКЦИЯ</a>
            <a href="catalog.html">КАТАЛОГ СТЕКЛА</a>
            <a href="stock.html">АКЦИИ</a>
            <a href="services.html">УСЛУГИ</a>
            <a href="about.html">О НАС</a>
            <a href="./contacts.html" class="nav-bar-a__active">КОНТАКТЫ</a>
          </nav>
        </div>
      </section>
    </header>

    <main class="contacts">
      <section class="container">
        <h2>наши контакты</h2>
        <div class="contacts-block">
          <div class="contacts-map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2351.8241398053424!2d30.33627617664215!3d53.88155433454345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46d0518a365cabd9%3A0xd29fad6d12e5eb2f!2sUlitsa%20Chigrinova%207%2C%20Mogilev%2C%20Belarus!5e0!3m2!1sen!2sge!4v1689672985348!5m2!1sen!2sge" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
          <div class="contacts-info">
            <h4>Наш адрес</h4>
            Республика Беларусь,<br> г. Могилёв,
            ул. Чигринова, 7Б

            <h4>Звоните нам:</h4>
            +375 (29) 194-38-89 (velcom)<br>
            8 (0222) 65-06-42 (тел/факс)<br>

            <h4>По вопросам сотрудничества Валерий:</h4>
            +375 (29) 645-81-57 (velcom)

            <h4>Наш e-mail:</h4>
            sv-steklo@yandex.by

            <h4>Режим работы:</h4>
            Пн-Пт с 9.00 до 19.00<br>
            Сб. с 10.00 до 16.00<br>
            Вс. выходной
          </div>
        </div>
      </section>
    </main>

    <footer id="footer">
      <section class="container">
        <div class="footer-menu">
          <div class="footer-info">
            <h4>НАШ АДРЕС:</h4>
            <p>Республика Беларусь,<br> г. Могилёв, ул. Чигринова, 7Б</p>
          </div>
          <div class="footer-info">
            <h4>ЗВОНИТЕ НАМ:</h4>
            <a href="tel:+375291943889">+375 (29) 194-38-89 Velcom</a><br>
            <a href="tel:80222650642">8 (0222) 65-06-42 Тел/факс</a>
          </div>
          <div class="footer-info">
            <h4>РЕЖИМ РАБОТЫ:</h4>
            <p>Пн-Пт с 9.00 до 19.00<br>
              Сб. с 10.00 до 16.00<br>
              Вс. выходной</p>
          </div>
        </div>
      </section>
    </footer>
    <script src="tmp/sv-cteklo/js/burger.js"></script>
  </body>
</html>